<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="text-align: left;">
  <u><h1 style="text-align: center;"> About Me </h1></u>
  <p>
    Hello Viewer! <br/>
    I'm Rajendran, a Computer Science Engineering graduate, looking for Project management Role
    and as a Rails Developer.<br/>
    I have over 11+ Years of experience in IT industry. In my first 10 years, I worked as an ERP Application Developer
    in serviced based industry with domain knowledge in Retail Industry and business process.<br/>
  </p>
  <p>
  <u><H4 style="text-align: center;"> Whats New ?</h4></u>
    I've always wondered what is beyond ERP and how to be a part of it. So I started to learn web based technologies and high level
    languages. <br/>
    Initially I started with Python and possess intermediate knowledge in python Pandas,numpy and scikit.<br/>
  </p>

  <p>
    Currently I am working on Ruby on Rails framework  with very good understanding and workings of the framework.<br/>
    I have very good understanding of DevOps life-cycle and various Tools.
    My approach to code is Test Driven Development. <br/>
  </p>

  <u><H4 style="text-align: center;"> DB &Tools </h4></u>
    Expert in MySQL. Git for versioning, Docker for images, jenkins for CI/CD
    and AWS for hosting the application.<br/> knowledge in ElasticSearch and Kubernetes.
    I have very good understanding of NOSQL as well.<br>
    My hobby projects are hosted in Heroku!
  <p>
  <u><H4 style="text-align: center;"> Learning and certifications </h4></u>
    I have completed <%= link_to "Project Management", asset_path("Coursera_pm.pdf") %>   course provided by Coursera in colloboration with Google. My Other certifications
    are <%= link_to "Ruby on Rails", asset_path("Udemy_RoR.pdf") %>  and <%= link_to "Kubernetes basics ", asset_path("Udemy_k8s.jpg") %> by Udemy.<br/>
  </p>

  <p>
  <u><H4 style="text-align: center;"> Hobby </h4></u>
   I like football and cycling. I love to read books as they give me another perspective.
   I try to get up early so i can jog in lakeshore nearby.
  </p>

</div>
