<div class="jumbotron">
  <h2 class="display-4">Hello, All!</h2>
  <p class="lead">This is a web page with useful free services.</p>
  <img src=<%= asset_path("ny.jpg") %> class="img-fluid">
  <hr class="my-4">
  <p>So far we have ToDoish</p>
  <p>in Pipeline, we have timesheet, calendar and much more</p>
  <% if !logged_in?%>
  <%= link_to "New User? Sign up now! ", signup_path, class:"btn btn-primary" %>
  <%= link_to "Existing User? Sign in", signin_path, class:"btn btn-success" %>
  <%end %>
</div>
