@import "bootstrap-sprockets";
@import "bootstrap";

.bg-color{
background-color:#e1faf9;
}

.th-text {
  text-align: center;
  align-items: center;
}

.form-control{
  width: 50em;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  outline: none;
}
.align-items-center{
  text-align: center;
}

.form-control{
    width:40em;

}

.container .jumbotron {
  background-color:#e1faf9;
}

#navbarNavDropdown{
  margin-top: 10px;

}

a.btn.btn-secondary.btn-light
{
  border: none;
  outline: none;
}

a:hover, a:focus , .nav li a:hover{
  background-color: yellow;
  font-size: 150%;
  font-weight: bold;
}

.sameline {
  display: inline-block;
    width: 49%;
  }

.navbar
{
margin-right: 20px;
margin-left: 20px;
margin-top: 5px;
margin-bottom: 5px;
}
.footer
{
margin-right: 20px;
margin-left: 20px;
margin-top: 5px;
margin-bottom: 5px;
}
img
{
  width: 400px;
  height: auto
}
